* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: #F5E0C3;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #3E2723;
    background-image: url("Wood.jpg");
}
h1, h2, h3, .navbar-brand {
  font-family: 'Cinzel', serif;
}
.topbar {
    background: #3E2723;
    color: #F5E0C3;
    display: flex;
    justify-content:space-between;
    padding: 8px 20px;
    font-size: 14px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #3E2723;
    padding: 15px 30px;
}

.navbar h1 {
    background: #3E2723;
}
#logo {
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
}
.menu {
    list-style: none;
    display: flex;
    gap: 20px;
}
.menu li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.menu li a:hover {
    color: #D4A373;
}

.hero {
    text-align: center;
    padding: 60px 20px;
    background: linear-gradient(to right, #212121, #2a2a2a);
    color: white;
}
h2 {
  letter-spacing: 1px;
  text-transform: uppercase;
}
.hero h2 {
    font-size: 32px;
}

.hero p {
    margin-top: 10px;
}

.hero button {
    margin-top: 15px;
    padding: 10px 20px;
    background: #e63946;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.hero button:hover {
    background: #c01722;
}
.products {
    padding: 40px;
    background: #F5E0C3;
}
.products h2 {
    text-align: center;
    margin-bottom: 30px;
}
.Product-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}
.product {
    background: #fff8f0;
    padding: 60px 80px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    text-align: center;
    transition: all 0.3s ease;
}
.product:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 25px rgba(0,0,0,0.2);
}
.product img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}
.product a {
    display: inline-block;
    margin-top: 10px;
    color: red;
    text-decoration: none;
    font-weight: bold;
}
.categories_bar {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    background: #F5E0C3;
    margin-top: 40px;
}
.categories_bar a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.categories_bar a:hover {
    color: red;
}
.filter {
    text-align: center;
    padding: 20px;
}
.filter button {
    margin: 5px;
    padding: 8px 15px;
    border: none;
   background: #D4A373;
    color: #3E2723;
    border-radius: 5px;
    cursor: pointer;
}
.filter button:hover {
    background: #6D4C41;
    color: white;
}
a {
    transition: 0.2s;
}
a:hover {
    opacity: 0.7;
}
footer {
   background: #3E2723;
    color: #F5E0C3;
    text-align: center;
    padding: 30px;
    margin-top: 40px;
}
.carousel-item {
    height: 90vh;
}

.carousel-item img {
    height: 100%;
    object-fit: cover;
}
.carousel-item::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.4);
}
.card {
  height: 100%;
  border-radius: 15px;
  background-color: #fff8f0;
  transition: 0.3s
}
.card-img-top {
  height: 200px;
  object-fit: contain;
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(62, 39, 35, 0.3)
}
.btn-primary, .btn-secondary {
  background-color: #6D4C41;
  border: none;
  border-radius: 20px;
}
.btn-primary:hover, .btn-secondary:hover {
  background-color: #3E2723;
}
.dark-mode {
  background-color: #121212;
  color: white;
}
.dark-mode .card {
  background-color: #1e1e1e;
  color: white;
}
.logo-img {
  height: 40px;
  width: auto;
}
.logo-text {
  font-size: 28px;
  font-family: 'Cinzel', serif;
  font-weight: bold;
  color: white;
}
